﻿
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Space</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/js")
    @{
        bool Logined = Session["UserID"] == null ? false : true;
    }
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
</head>
<body class="container-fluid login_background">
    <div class="col-xs-12">
        <label class="col-xs-12 text-center MainTitle">F I N A N C I A L &nbsp;  T R A C K E R</label>
    </div>
    <div class="col-xs-12" style="margin-top:5%">
        <div class="col-xs-7">
            <div class="col-xs-12 login_block_background2" style="margin-left:25%;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:100%;">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/image/Pic_1.jpg" alt="Los Angeles" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="~/image/Pic_2.jpg" alt="Chicago" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="~/image/Pic_3.jpg" alt="New york" style="width:100%;">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="col-xs-12 login_block_background">
                <form class="col-xs-12 login_form_contain" action="@Url.Action("Login" , "Home")" method="post">
                    </br>
                    <div class="login_group">
                        <label class="control-label">User ID</label>
                        <input type="text" class="form-control" id="Login_UserID" name="UserName" style="width:90%;max-width:2000px;"/>
                    </div>
                    <div class="login_group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" id="Login_Password" name="Password" style="width:90%;max-width:2000px;" />
                    </div>
                    <div class="form-group">
                        @{
                            if (!string.IsNullOrEmpty(ViewBag.LoginErr))
                            {
                                <div class="col-xs-12">
                                    <label id="Login_Error" class="text-danger text-left">@ViewBag.LoginErr</label>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-xs-12" style="align-content:center;align-items:center;text-align:center;">
                        <input class="btn login_btn" type="submit" value="Log In"/>
                    </div>
                    
                </form>
            </div>
            
        </div>
        
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>