﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Space</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/js")
    @{
        bool Logined = Session["UserID"] == null ? false : true;
    }
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-top:1%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Personal Space", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Media", "Index", "Upload")</li>
                    <li>@Html.ActionLink("History", "Index", "History")</li>
                    <li>@Html.ActionLink("Days", "RmbDays", "History")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{
                            if (Logined)
                            {
                                <a href="@Url.Action("Logout" , "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            }
                            else
                            {
                                <a href="javascript:ShowLoginModal()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content col-xs-12" style="min-height:99%;margin-top:1%;">
        @RenderBody()
        @Html.Partial("LoginModal")
        <hr />
    </div>
    <footer class="panel-footer col-xs-12" style="bottom:0; position:fixed;">
        <p>&copy; @DateTime.Now.Year - C</p>
    </footer>
</body>
</html>
