﻿<!--Login Modal-->
<div class="modal fade" role="dialog" id="LoginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form class="col-xs-12 form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">User ID:</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="Login_UserID" />
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Password:</label>
                        <div class="col-xs-10">
                            <input type="password" class="form-control" id="Login_Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <label id="Login_Error" class="text-danger"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Login('@Url.Action("Login" , "Home")')">LOGIN</button>
            </div>
        </div>
    </div>
</div>