﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login_background {
    color: white;
    background-color: #79AFD5;
}

.login_block_background {
    background-color: white;
    align-content: flex-start;
    align-items: flex-start;
    color: #79AFD5;
    width: 60%;
    height: 53%;
    border-radius: 12px;
    box-shadow :12px;
}
.login_block_background2 {
    background-color: white;
    align-content: flex-start;
    align-items: flex-start;
    color: #79AFD5;
    width: 70%;
    height: 53%;
    border-radius: 12px;
    box-shadow: 12px;
    vertical-align:central;
    justify-content:center;
}

.login_form_contain{
    align-content:center;
    justify-content:center;
    width:100%;
}
.MainTitle{
    font-family:'Segoe UI';
    font-weight:bold;
    font-size:55px;
    margin-top:50px;
}

.Login_box{
    background-color:black;
    opacity:0.3;
}
.login_group{
    margin-top:10%;
    margin-left:5%;
    font-size:20px;
    width:100%;
}
.login_btn {
    width: 99%;
    background-color: #79AFD5;
    align-self:center;
    justify-self:center;
    color:white;
    margin-top:20%;
    font-size:20px;
    max-width:2000px;
}
.text_chg{
    font-family:'Segoe UI';
}
.Login_Container {
    align-content: center;
    align-items: center;
    padding: 3%;
    vertical-align: central;
    flex: 1;
    width: 100%;
    text-align: center;
}

.Login_Form{
    align-content:center;
    align-items:center;
    padding:3%;
}

.UploadMediaColumn{
    border:solid;
    border-color:black;
    border-width:2px;
}

.CustomCollapseHeader {
    /*background-color: #1b1b1c;
    border-bottom-color: darkgreen;*/
    /*border-width: 0.1px;
    padding: 0.5%;*/
    padding-left: 1%;
    font-size: 20px;
    font-weight: 200;
    vertical-align: central;
    margin:0;
    color:black;
    /*color: white;*/
}
.CustomCollapseBody{
}

.MediaPhoto{
    max-height:2000px;
    max-width:140px;
    display:block;
    margin:0;
    vertical-align:central;
}

.img-hoverable:hover{
    opacity:0.8;
}

.HistorySearchBox{
    padding:10px;
    padding-left:15px;
    align-items:center;
    align-content:center;
}
.CustomTextBox{
    min-width:200px;
    padding:5px;
}

.DaysBackground {
    background-image: url('../image/days_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-height:1000px;
}

.DaysCenter{
    margin:auto;
    width:100%;
    padding:10px;
    height:100%;
    vertical-align:central;
    align-content:center;
}

.Days{
    font-size:80px;
}

.SubDays{
    font-size:30px;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.memobody{
    padding : 15px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}